In [1]:
import os, sys, json, random
import pandas as pd
import numpy as np

from scipy.stats import pearsonr
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import chi2
from sklearn import metrics
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV

import matplotlib.pyplot as plt

In [2]:
BASEDIRECTORY = "/Users/phillip/Sync/MIMIC III Uncompressed Datasets"

In [3]:
#  Possible feature names in D_ITMES.csv
features_list = [
    "Heart Rate",
    "O2 saturation pulseoxymetry",
    "Temperature Celsius",
    "Temperature C",
    "Temperature C (calc)",
    "Arterial Blood Pressure systolic",
    "ABP [Systolic]",
    "Arterial BP [Systolic]",
    "Arterial Blood Pressure diastolic",
    "ABP [Diastolic]",
    "Arterial BP [Diastolic]",
    "Arterial Blood Pressure mean",
    "Arterial BP Mean",
    "Respiratory Rate (Total)",
    "Respiratory Rate",
    "EtCO2",
    "Base Excess",
    "HCO3",
    "FIO2",
    "FiO2" "Inspired O2 Fraction",
    "ph level",
    "PH",
    "Ph",
    "Arterial PaCO2",
    "Arterial O2 Saturation",
    "SaO2",
    "Alkaline Phosphatase",
    "Alkaline Phosphate",
    "Calcium",
    "Chloride (whole blood)",
    "Chloride",
    "Creatinine",
    "Direct Bilirubin",
    "Glucose (serum)",
    "Lactic Acid",
    "Magnesium",
    "Potassium",
    "Troponin",
    "Hematocrit",
    "Hemoglobin",
    "PTT",
    "Ptt",
    "WBC",
    "FIBRINOGEN",
    "Fibrinogen",
    "Platelets",
    "Present Weight  (kg)",
    "Weight Kg",
]

In [4]:
d_items_df = pd.read_csv("{}/{}".format(BASEDIRECTORY, "D_ITEMS.csv"))
diagnose_df = pd.read_csv("{}/{}".format(BASEDIRECTORY, "DIAGNOSES_ICD.csv"))
d_icd_diagnose_df = pd.read_csv("{}/{}".format(BASEDIRECTORY, "D_ICD_DIAGNOSES.csv"))
admission_df = pd.read_csv("{}/{}".format(BASEDIRECTORY, "ADMISSIONS.csv"))
patient_df = pd.read_csv("{}/{}".format(BASEDIRECTORY, "PATIENTS.csv"))

In [58]:
patient_df.head(10).to_csv(
    "/Users/phillip/Documents/PhD/PhD3/Docs/Thesis/sample data for appendix/sample_PATIENTS.csv"
)

In [5]:
selected_itemids_df = d_items_df[
    d_items_df.LABEL.isin(features_list) & (d_items_df.LINKSTO == "chartevents")
][["ITEMID", "LABEL"]]

In [6]:
# 找出sepsis相关的ICD码
sepsis_icd = d_icd_diagnose_df[
    d_icd_diagnose_df.SHORT_TITLE.str.contains("sepsis|septic")
]
sepsis_icd

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
69,242,0031,Salmonella septicemia,Salmonella septicemia
542,593,0545,Herpetic septicemia,Herpetic septicemia
595,646,0380,Streptococcal septicemia,Streptococcal septicemia
596,647,03810,Staphylcocc septicem NOS,"Staphylococcal septicemia, unspecified"
598,649,03812,MRSA septicemia,Methicillin resistant Staphylococcus aureus se...
599,650,03819,Staphylcocc septicem NEC,Other staphylococcal septicemia
600,651,0382,Pneumococcal septicemia,Pneumococcal septicemia [Streptococcus pneumon...
601,652,0383,Anaerobic septicemia,Septicemia due to anaerobes
602,653,03840,Gram-neg septicemia NOS,"Septicemia due to gram-negative organism, unsp..."
603,654,03841,H. influenae septicemia,Septicemia due to hemophilus influenzae [H. in...
604,655,03842,E coli septicemia,Septicemia due to escherichia coli [E. coli]
605,656,03843,Pseudomonas septicemia,Septicemia due to pseudomonas
606,657,03844,Serratia septicemia,Septicemia due to serratia
607,658,03849,Gram-neg septicemia NEC,Other septicemia due to gram-negative organisms
653,704,0223,Anthrax septicemia,Anthrax septicemia
9049,9050,77181,NB septicemia [sepsis],Septicemia [sepsis] of newborn
10305,11404,99592,Severe sepsis,Severe sepsis
11768,12384,99802,"Postop shock, septic","Postoperative shock, septic"
12395,10005,73341,Aseptic necrosis humerus,Aseptic necrosis of head of humerus
12396,10006,73342,Aseptic necrosis femur,Aseptic necrosis of head and neck of femur
12398,10008,73344,Aseptic necrosis talus,Aseptic necrosis of talus
12399,10009,73345,Aseptic necrosis of jaw,"Aseptic necrosis of bone, jaw"
13293,13564,67020,Puerperal sepsis-unsp,"Puerperal sepsis, unspecified as to episode of..."
13294,13565,67022,Puerprl sepsis-del w p/p,"Puerperal sepsis, delivered, with mention of p..."
13295,13566,67024,Puerperl sepsis-postpart,"Puerperal sepsis, postpartum condition or comp..."

In [7]:
selected_ICD9 = ["99592", "77181"]

In [8]:
selected_chartevents_df = pd.read_csv("selected_chartevents.csv")

In [10]:
selected_chartevents_df.head(50)

,Unnamed: 0,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,VALUENUM
0,0,36,165660,241249.0,225668,2134-05-12 12:35:00,2134-05-12 12:38:00,1.0
1,1,36,165660,241249.0,220045,2134-05-12 13:00:00,2134-05-12 13:55:00,86.0
2,2,36,165660,241249.0,220210,2134-05-12 13:00:00,2134-05-12 13:55:00,21.0
3,3,36,165660,241249.0,220277,2134-05-12 13:00:00,2134-05-12 13:55:00,93.0
4,4,36,165660,241249.0,220045,2134-05-12 14:00:00,2134-05-12 14:39:00,85.0
5,5,36,165660,241249.0,220210,2134-05-12 14:00:00,2134-05-12 14:39:00,19.0
6,6,36,165660,241249.0,220277,2134-05-12 14:00:00,2134-05-12 14:39:00,91.0
7,7,36,165660,241249.0,220045,2134-05-12 15:00:00,2134-05-12 16:50:00,87.0
8,8,36,165660,241249.0,220210,2134-05-12 15:00:00,2134-05-12 16:51:00,20.0
9,9,36,165660,241249.0,220277,2134-05-12 15:00:00,2134-05-12 16:51:00,91.0
10,10,36,165660,241249.0,225668,2134-05-12 15:22:00,2134-05-12 15:24:00,0.7
11,11,36,165660,241249.0,220045,2134-05-12 16:00:00,2134-05-12 16:50:00,91.0
12,12,36,165660,241249.0,220210,2134-05-12 16:00:00,2134-05-12 16:51:00,20.0
13,13,36,165660,241249.0,220277,2134-05-12 16:00:00,2134-05-12 16:51:00,92.0
14,14,34,144319,290505.0,224690,2191-02-23 07:00:00,2191-02-23 07:35:00,22.0
15,15,34,144319,290505.0,220210,2191-02-23 07:33:00,2191-02-23 07:45:00,26.0
16,16,34,144319,290505.0,220045,2191-02-23 07:34:00,2191-02-23 10:53:00,44.0
17,17,34,144319,290505.0,220277,2191-02-23 07:44:00,2191-02-23 07:45:00,100.0
18,18,34,144319,290505.0,220045,2191-02-23 08:00:00,2191-02-23 08:23:00,43.0
19,19,34,144319,290505.0,220210,2191-02-23 08:00:00,2191-02-23 08:23:00,22.0
20,20,34,144319,290505.0,220277,2191-02-23 08:00:00,2191-02-23 08:23:00,100.0
21,21,23,124321,234044.0,220210,2157-10-22 10:00:00,2157-10-22 10:26:00,16.0
22,22,23,124321,234044.0,220277,2157-10-22 10:00:00,2157-10-22 10:26:00,98.0
23,23,23,124321,234044.0,220045,2157-10-22 11:00:00,2157-10-22 11:05:00,85.0
24,24,23,124321,234044.0,220050,2157-10-22 11:00:00,2157-10-22 11:05:00,128.0
25,25,23,124321,234044.0,220051,2157-10-22 11:00:00,2157-10-22 11:05:00,67.0
26,26,23,124321,234044.0,220052,2157-10-22 11:00:00,2157-10-22 11:05:00,87.0
27,27,23,124321,234044.0,220210,2157-10-22 11:00:00,2157-10-22 11:05:00,19.0
28,28,23,124321,234044.0,220277,2157-10-22 11:00:00,2157-10-22 11:05:00,97.0
29,29,23,124321,234044.0,220045,2157-10-22 12:00:00,2157-10-22 12:49:00,89.0
30,30,23,124321,234044.0,220050,2157-10-22 12:00:00,2157-10-22 12:49:00,144.0
31,31,23,124321,234044.0,220051,2157-10-22 12:00:00,2157-10-22 12:49:00,72.0
32,32,23,124321,234044.0,220052,2157-10-22 12:00:00,2157-10-22 12:49:00,95.0
33,33,23,124321,234044.0,220210,2157-10-22 12:00:00,2157-10-22 12:49:00,18.0
34,34,23,124321,234044.0,220277,2157-10-22 12:00:00,2157-10-22 12:49:00,98.0
35,35,23,124321,234044.0,220045,2157-10-22 13:00:00,2157-10-22 13:35:00,79.0
36,36,23,124321,234044.0,220050,2157-10-22 13:00:00,2157-10-22 13:35:00,118.0
37,37,23,124321,234044.0,220051,2157-10-22 13:00:00,2157-10-22 13:35:00,55.0
38,38,23,124321,234044.0,220052,2157-10-22 13:00:00,2157-10-22 13:35:00,74.0
39,39,23,124321,234044.0,220210,2157-10-22 13:00:00,2157-10-22 13:35:00,18.0
40,40,23,124321,234044.0,220277,2157-10-22 13:00:00,2157-10-22 13:35:00,96.0
41,41,23,124321,234044.0,220045,2157-10-22 14:00:00,2157-10-22 15:03:00,80.0
42,42,23,124321,234044.0,220050,2157-10-22 14:00:00,2157-10-22 15:03:00,124.0
43,43,23,124321,234044.0,220051,2157-10-22 14:00:00,2157-10-22 15:03:00,55.0
44,44,23,124321,234044.0,220052,2157-10-22 14:00:00,2157-10-22 15:03:00,77.0
45,45,23,124321,234044.0,220210,2157-10-22 14:00:00,2157-10-22 15:03:00,21.0
46,46,23,124321,234044.0,220277,2157-10-22 14:00:00,2157-10-22 15:03:00,98.0
47,47,23,124321,234044.0,220045,2157-10-22 15:00:00,2157-10-22 15:03:00,77.0
48,48,23,124321,234044.0,220050,2157-10-22 15:00:00,2157-10-22 15:03:00,135.0
49,49,23,124321,234044.0,220051,2157-10-22 15:00:00,2157-10-22 15:03:00,56.0

In [11]:
selected_admissionID_series = selected_chartevents_df.HADM_ID.drop_duplicates()
selected_subjectID_series = selected_chartevents_df.SUBJECT_ID.drop_duplicates()
# print(len(selected_admissionID_series), len(selected_subjectID_series))

In [12]:
grouped = (
    selected_chartevents_df.groupby("HADM_ID")
    .apply(lambda x: x.sort_values("CHARTTIME"))
    .reset_index(drop=True)
)

In [13]:
g = grouped.groupby("HADM_ID")

In [14]:
def combineColumns(
    df: "target dataframe",
    columns_list: "list of column names",
    newColumn: "name of merged column",
) -> "pd.series":
    real_list = list(filter(lambda x: x in df.columns, columns_list))
    #     print(real_list)
    if real_list:
        n_notNA_series = df[real_list].shape[1] - df[real_list].isna().sum(axis=1)
        ret = (
            df[real_list]
            .fillna(0)
            .sum(axis=1)
            .replace(0, np.nan)
            .divide(n_notNA_series)
        )
        df.drop(columns=real_list, inplace=True)
        df[newColumn] = ret

In [15]:
# 合并相同的含义的列
def merge(df):
    combineColumns(
        df,
        ["Temperature Celsius", "Temperature C", "Temperature C (calc)"],
        "Temperature",
    )
    combineColumns(
        df,
        [
            "ABP [Systolic]",
            "Arterial BP [Systolic]",
            "Arterial Blood Pressure systolic",
        ],
        "ABP-S",
    )
    combineColumns(
        df,
        [
            "ABP [Diastolic]",
            "Arterial BP [Diastolic]",
            "Arterial Blood Pressure diastolic",
        ],
        "ABP-D",
    )
    combineColumns(df, ["Arterial BP Mean", "Arterial Blood Pressure mean"], "ABP-M")
    combineColumns(df, ["Respiratory Rate", "Respiratory Rate (Total)"], "RR")
    combineColumns(
        df, ["ph level", "PH", "Ph",], "PH",
    )
    combineColumns(df, ["Present Weight  (kg)", "Weight Kg",], "weight")
    combineColumns(
        df, ["Arterial O2 Saturation", "O2 saturation pulseoxymetry", "SaO2"], "SaO2"
    )
    duplicated_columns = df.columns[df.columns.duplicated()]
    for c in duplicated_columns:
        combineColumns(df, [c], c)

In [16]:
x = g.get_group(187556)[["ITEMID", "CHARTTIME", "VALUENUM"]]
print(len(x), len(x.drop_duplicates()))
print(x.drop_duplicates())
# print(x.drop_duplicates().pivot(index="CHARTTIME", columns="ITEMID", values="VALUENUM"))

307 304
          ITEMID            CHARTTIME    VALUENUM
30042149     211  2192-11-12 19:45:00   71.000000
30042150     618  2192-11-12 19:45:00   21.000000
30042151     677  2192-11-12 20:00:00   35.888901
30042152     618  2192-11-12 20:00:00   15.000000
30042153     211  2192-11-12 20:00:00   64.000000
...          ...                  ...         ...
30042451     618  2192-11-14 12:00:00   26.000000
30042452     211  2192-11-14 12:00:00  100.000000
30042453     211  2192-11-14 13:00:00   90.000000
30042454     677  2192-11-14 13:00:00   36.333302
30042455     618  2192-11-14 13:00:00   26.000000

[304 rows x 3 columns]

In [19]:
df_list = []
c = 0
for admission_id in selected_admissionID_series:
    #         print(admission_id)
    try:
        temp = (
            g.get_group(admission_id)[["CHARTTIME", "ITEMID", "VALUENUM"]]
            .drop_duplicates()
            .pivot(index="CHARTTIME", columns="ITEMID", values="VALUENUM")
        )
    except ValueError:
        continue
    temp.columns = list(
        map(
            lambda x: str(x).replace(
                str(x),
                selected_itemids_df.LABEL[selected_itemids_df.ITEMID == x].iloc[0],
            ),
            temp.columns,
        )
    )
    #     print(patientid)
    temp.reset_index(inplace=True)
    merge(temp)
    # 加入静态的变量
    # get SUBJECT_ID first
    sub_id = admission_df[admission_df.HADM_ID == admission_id].SUBJECT_ID.values[0]
    # gender
    temp["GENDER"] = patient_df[patient_df.SUBJECT_ID == sub_id].GENDER.values[0]
    # age
    dob = pd.to_datetime(patient_df[patient_df.SUBJECT_ID == sub_id].DOB.values[0])
    # 小于1990年代表年龄大于等于90，一律按90岁算
    if dob.year < 1990:
        temp["AGE"] = 32850
    else:
        temp["AGE"] = (pd.to_datetime(temp.CHARTTIME) - dob) / pd.Timedelta(1, "D")
    # ICULOS
    doa = pd.to_datetime(
        admission_df[admission_df.HADM_ID == admission_id].ADMITTIME.values[0]
    )
    temp["ICULOS"] = (pd.to_datetime(temp.CHARTTIME) - doa) / pd.Timedelta(1, "hour")
    # 加入结果标签
    if (
        diagnose_df[diagnose_df.HADM_ID == admission_id].ICD9_CODE == selected_ICD9[0]
    ).sum() > 0:
        temp["LABEL"] = 1
    elif (
        diagnose_df[diagnose_df.HADM_ID == admission_id].ICD9_CODE == selected_ICD9[1]
    ).sum() > 0:
        temp["LABEL"] = 2
    else:
        temp["LABEL"] = 0
    # 把处理好的每一个dataframe加入到df_list列表中
    df_list.append(temp)
    if c % 10000 == 0:
        print(c)
    c += 1
#     sys.exit(1)

0
10000
20000
30000
40000
50000

In [21]:
len(df_list)

56884

In [52]:
df_list[3]

    GENDER           AGE     ICULOS  Heart Rate    RR   SaO2
0        1  28068.883333   2.383333       136.0  39.0    NaN
1        1  28068.884028   2.400000         NaN   NaN   99.0
2        1  28068.895833   2.683333       132.0  35.0  100.0
3        1  28068.916667   3.183333       131.0  32.0   98.0
4        1  28068.958333   4.183333       125.0  36.0   98.0
5        1  28069.000000   5.183333        85.0  33.0   99.0
6        1  28069.041667   6.183333       105.0  31.0   96.0
7        1  28069.083333   7.183333       106.0  29.0   97.0
8        1  28069.125000   8.183333        85.0  22.0   99.0
9        1  28069.129167   8.283333         NaN   NaN    NaN
10       1  28069.166667   9.183333        94.0  24.0   98.0
11       1  28069.208333  10.183333        79.0  20.0   98.0
12       1  28069.250000  11.183333        90.0  25.0   99.0
13       1  28069.291667  12.183333        94.0  22.0   97.0
14       1  28069.333333  13.183333       100.0  25.0   98.0
15       1  28069.375000  14.183333        95.0  32.0   99.0
16       1  28069.416667  15.183333       111.0  22.0   99.0
17       1  28069.458333  16.183333        90.0  22.0   97.0
18       1  28069.500000  17.183333        89.0  28.0   98.0
19       1  28069.541667  18.183333       102.0  34.0   98.0
20       1  28069.583333  19.183333       109.0  28.0  100.0
21       1  28069.625000  20.183333       101.0  27.0   98.0
22       1  28069.666667  21.183333       103.0  27.0   99.0
23       1  28069.708333  22.183333       100.0  30.0   99.0
24       1  28069.750000  23.183333       106.0  34.0   98.0
25       1  28069.791667  24.183333       114.0  35.0   98.0
26       1  28069.833333  25.183333       102.0  33.0   99.0
27       1  28069.875000  26.183333       111.0  34.0   97.0
28       1  28069.916667  27.183333        96.0  26.0   98.0
29       1  28069.958333  28.183333       103.0  25.0   97.0
30       1  28070.000000  29.183333       116.0  36.0   98.0
31       1  28070.041667  30.183333       105.0  29.0   96.0
32       1  28070.083333  31.183333       112.0  23.0   97.0
33       1  28070.125000  32.183333       117.0  35.0   96.0
34       1  28070.166667  33.183333       111.0  30.0   95.0
35       1  28070.193056  33.816667         NaN   NaN    NaN
36       1  28070.208333  34.183333       114.0  25.0   95.0
37       1  28070.250000  35.183333       118.0  29.0    NaN
38       1  28070.251389  35.216667         NaN   NaN   94.0
39       1  28070.291667  36.183333       117.0  26.0   98.0
40       1  28070.333333  37.183333       112.0  33.0   96.0
41       1  28070.375000  38.183333       123.0  26.0   96.0
42       1  28070.416667  39.183333       116.0  24.0   96.0
43       1  28070.458333  40.183333       109.0  24.0   95.0
44       1  28070.500000  41.183333       112.0  31.0   95.0
45       1  28070.541667  42.183333       114.0  21.0   97.0
46       1  28070.583333  43.183333       107.0  27.0   95.0
47       1  28070.625000  44.183333       101.0  22.0   97.0
48       1  28070.666667  45.183333        97.0  31.0   96.0
49       1  28070.708333  46.183333       100.0  20.0   95.0
50       1  28070.750000  47.183333       100.0  30.0   90.0

In [31]:
for i in range(len(df_list)):
    df_list[i] = df_list[i].iloc[:, 1:-1]
    df_list[i].GENDER.replace("M", 1, inplace=True)
    df_list[i].GENDER.replace("F", 0, inplace=True)

In [48]:
df_list_1 = []
for i in range(len(df_list)):
    try:
        df_list_1.append(
            df_list[i][["GENDER", "AGE", "ICULOS", "Heart Rate", "RR", "SaO2", "LABEL"]]
        )
    except KeyError:
        continue

In [49]:
len(df_list_1)

0

In [47]:
df_list[0]

,WBC,Creatinine,Glucose (serum),Magnesium,Alkaline Phosphate,Lactic Acid,PTT,ABP-M,RR,SaO2,GENDER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,91.0,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,93.0,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,85.0,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,93.0,1
4,15.3,0.9,126.0,1.9,NaN,NaN,28.0,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,93.0,1
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,92.0,1
126,NaN,NaN,NaN,NaN,NaN,NaN,56.9,NaN,NaN,NaN,1
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,95.0,1
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,92.0,1

In [ ]:
# 用所有数据的平均值填充
# cell001_1
s = np.zeros(40).tolist()
c = np.zeros(40).tolist()

for e in df_list:
    s = s + e.sum()[:-1]
    c = c + e.count()[:-1]

a = s.div(c)

# 当不能用线性填充时,填充最近的,再不行用平均值填充
# cell001_2
threshold = 0  # the healthy-sepsis ratio threshold
data = []
i = 0  # counter for extra healthy data samples
nHealthySamples = 0
for e in df_list:
    t = e.iloc[:, -1][e.iloc[:, -1] == 1].sum()
    l = len(e)
    if t / l > threshold:
        e.interpolate(inplace=True, limit_direction="both")
        e.interpolate(inplace=True, method="nearest")
        na_cols = e.columns[e.isna().any()]
        for col in na_cols:
            e.loc[e[col].isnull(), col] = a[col]
        data.append(e)